@charset "utf-8";
input{ background:;}
.area_box { width:420px; border: #DF8623 1px solid; padding:3px 10px 30px; position:relative; overflow:hidden; display:none;}

.area_box .title { height:30px; border-bottom:#DF8623 1px solid;}
.area_box .title div { line-height:22px;  font-size:12px; float:left; margin:0 5px; padding:0 5px; border:#DF8623 1px solid; position:relative; top:7px; border-bottom:1px solid white; cursor:pointer;}
.area_box .title div.province_title {}
.area_box .title div.city_title { display:none;}
.area_box .title div.district_title { display:none;}

.area_box .content_sheng, .area_box .content_shi,.area_box .content_xian{ padding:10px 0; overflow:hidden;}
.area_box  .content_sheng div { padding:5px 10px; float:left; font-size:12px; width:40px; height:14px;  overflow:hidden; white-space: nowrap; letter-spacing:1px; cursor:pointer;}
.area_box  .content_sheng div:hover { color:#DF8623;}

.area_box  .content_shi div { padding:5px 10px; float:left; font-size:12px; width:40px; height:14px;  overflow:hidden; white-space: nowrap; letter-spacing:1px; cursor:pointer;}
.area_box  .content_shi div:hover { color:#DF8623;}

.area_box  .content_xian div { padding:5px 10px; float:left; font-size:12px; width:40px; height:14px;  overflow:hidden; white-space: nowrap; letter-spacing:1px; cursor:pointer;}
.area_box  .content_xian div:hover { color:#DF8623;}

#xuanze { min-width:200px;}
#congxin { position: absolute; right: 50px; bottom: 0;}
#tijiao { position: absolute; right: 0; bottom: 0;}